{% include "recipes/partial/head.html" %}

<body>
    {% include "recipes/partial/header.html" %}
    {% include "recipes/partial/search.html" %}

    <main class="main-content-container">

        <div class="main-content main-content-list">
            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://placehold.co/1280x720/269fe6/00000.png" alt="temporario">
                </div>
            </div>

        </div>



    </main>


</body>

</html>